<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExtraPOS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ExtraPOS.My.MySettings>
      <setting name="serverip" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="dbusername" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="dbpassword" serializeAs="String">
        <value />
      </setting>
      <setting name="dbport" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="dbname" serializeAs="String">
        <value>myproject</value>
      </setting>
      <setting name="color1" serializeAs="String">
        <value />
      </setting>
      <setting name="color2" serializeAs="String">
        <value />
      </setting>
      <setting name="color3" serializeAs="String">
        <value />
      </setting>
      <setting name="color4" serializeAs="String">
        <value />
      </setting>
      <setting name="color5" serializeAs="String">
        <value />
      </setting>
      <setting name="color6" serializeAs="String">
        <value />
      </setting>
      <setting name="invoices_printer" serializeAs="String">
        <value />
      </setting>
      <setting name="report_printer" serializeAs="String">
        <value />
      </setting>
      <setting name="last_invoice" serializeAs="String">
        <value />
      </setting>
    </ExtraPOS.My.MySettings>
  </userSettings>
</configuration>
